AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_SESSION_TOKEN=...
AWS_DEFAULT_REGION=...
S3_BUCKET=...
S3_PREFIX=...

AZURE_STORAGE_ACCOUNT=...
AZURE_STORAGE_KEY=...
AZURE_CONTAINER_NAME=...
AZURE_BLOB_PREFIX=...

ANTHROPIC_API_KEY=...

FABRIC_WORKSPACE_ID=...
FABRIC_LAKEHOUSE_ID=...
AZURE_TENANT_ID=...
AZURE_CLIENT_ID=...
AZURE_CLIENT_SECRET=...